<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <h1>Weather App</h1>
    <p
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore eaque
      quis, cumque optio vitae eveniet voluptates minus harum natus, impedit
      eligendi odit neque. Nihil earum ipsa assumenda, doloremque consequatur
      odio?Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      eaque quis, cumque optio vitae eveniet voluptates minus harum natus,
      impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?vLorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?</p
    >
    <p
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore eaque
      quis, cumque optio vitae eveniet voluptates minus harum natus, impedit
      eligendi odit neque. Nihil earum ipsa assumenda, doloremque consequatur
      odio?Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      eaque quis, cumque optio vitae eveniet voluptates minus harum natus,
      impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?vLorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Inventore eaque quis, cumque optio vitae eveniet voluptates minus harum
      natus, impedit eligendi odit neque. Nihil earum ipsa assumenda, doloremque
      consequatur odio?</p
    >
    <p
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore eaque
      quis, cumque optio vitae eveniet voluptates minus harum natus, impedit
      eligendi odit neque. Nihil earum ipsa assumenda, doloremque consequatur
      odio?</p
    >
    <p
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore eaque
      quis, cumque optio vitae eveniet voluptates minus harum natus, impedit
      eligendi odit neque. Nihil earum ipsa assumenda, doloremque consequatur
      odio?</p
    >
    <%- include('../partials/scripts') %>
  </body>
  <%- include('../partials/footer') %>
</html>
