body {
  background-color: #dddfd4;
}

.svg {
  width: 30px;
  height: 24px;
}

/* Header */
nav {
  background-color: #173e43;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  color: #173e43;
}

footer ul {
  list-style: none;
}

.logo-footer {
  width: 60px;
  height: 48px;
}

/* Local weather display */
#local-weather {
  border: solid #000000;
  border-radius: 5px;
}
