body {
  background-color: #dddfd4;
}

.svg {
  width: 30px;
  height: 24px;
}

.hide {
  display: none;
}

/* Header */
nav {
  background-color: #173e43;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  color: #173e43;
  position: fixed;
  bottom: 0;
}

footer ul {
  list-style: none;
}

.logo-footer {
  width: 60px;
  height: 48px;
}

/* Local weather display */
/* #3fb0ac */
/* #fae596 */
.weather-display {
  border: solid #173e43;
  background-color: #3fb0ac;
  color: #173e43;
  border-radius: 5px;
}

.weather-display ul {
  list-style: none;
}
.weather-display ul li {
  padding: 5px;
}

#temp {
  font-size: xx-large;
}

.form-btn {
  background-color: #173e43;
  color: #3fb0ac;
}
