<div class="container-fluid footer">
  <hr />
  <footer class="navbar">
    <div class="col-4 justify-content-start align-text-bottom">
      <h4 class="">MyWeather</h4>
      <span class="text-muted"
        >© 2022 MyWeather, Inc - All Rights Reserved</span
      >
    </div>
    <a class="col-4 d-flex justify-content-center align-text-center" href="/"
      ><img class="logo-footer" src="/svgIcons/logo.svg" alt="logo" />
    </a>
    <div class="col-4 d-flex flex-row-reverse">
      <ul class="p-3">
        <li><strong>Contact Us!</strong></li>
        <li>Tel: +30 6949531056</li>
        <li>Mail: jasongrivasb@gmail.com</li>
      </ul>
      <ul class="p-3">
        <li><strong>Follow Us!</strong></li>
        <div class="d-flex">
          <li
            ><a href="https://www.linkedin.com/in/jason-grivas-b94b7b212/"
              ><img
                class="svg"
                src="/svgIcons/linkedin.svg"
                alt="linkedIn" /></a
          ></li>
          <li
            ><a href="https://github.com/JasonGri/"
              ><img class="svg" src="/svgIcons/github.svg" alt="github" /></a
          ></li>
        </div>
      </ul>
    </div>
  </footer>
</div>
